.returning
  %h1 Tunnistaminen onnistui

  =simple_form_for @signature, url: url_for(action: "finalize_signing", controller: "signatures") do |f|
    = render partial: "initiative_form", locals: {f: f}
